//COLORS
$main-color:#FBFBFB;
$primary-color:#016DB5;
$secondary-color:#7ABF4A;
$tertiary-color:#37474F;
$default-color:#FFFFFF;

//FONT
$small:14px;
$x-small:10px;
$regular:18px;
$medium:22px;
$large:26px;
$x-large:30px;
$xx-large:35px;