
.text-larger
{
   font-size: 35px;
}
.text-medium
{
   font-size: $medium;
}
.text-x-small
{
    font-size:$x-small;
}
.text-small
{
    font-size:$small;
}
.text-bold
{
    font-weight:bold;
}
.text-primary
{
    color:$primary-color;
}
.text-secondary
{
    color:$secondary-color;
}

.w-100
{
    width:100%
}
.w-75
{
    width:75%
}
.w-50
{
    width:50%
}
.w-25
{
    width:25%
}
.lh
{
    line-height: 2.5rem;
}
.sm-lh
{
    line-height:1.5rem;
}
.mt-6
{
    margin-top:5rem
}
.absolute
{
    position:absolute;
}
.relative
{
    position:relative;
}
.link
{
    bottom:10px;
    right:10px;
    font-size:20px;
}
.router-link
{
    color:$tertiary-color;
}
.centered-box
{
    margin: auto;
}
.top
{
    top: 0;
}