.card--img
{
    max-width:40%;
    height:172px;
}   
.card
{
        box-shadow: 0 .5rem 1rem #00000026; 
}
.mini-card
{
    background-color:$main-color;
    border-radius: .7rem;
}
.middle-card
{
    background-color:$main-color;
    border-radius: .7rem;
    
}
.centered-box{
    padding: 100px 0px;
}