.container
{
    background:$default-color;
    margin-bottom:200px;
}
.sidebar
{
    position:fixed;
    top:40%;
    img
    {
      width:30px;
      transition:.2s ease-in;
      &:hover
      {
          width:40px;
      }
    }
}