html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #37474F;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #FBFBFB;
  position: fixed;
  z-index: 1;
  top: 0;
}
.container {
  background: #FFFFFF;
  margin-bottom: 200px;
}

.sidebar {
  position: fixed;
  top: 40%;
}
.sidebar img {
  width: 30px;
  transition: 0.2s ease-in;
}
.sidebar img:hover {
  width: 40px;
}

.section {
  height: 90vh;
  margin-top: 4.3rem;
  color: white;
  background-size: cover;
}

.card__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer {
  background: #FBFBFB;
  height: 35vh;
}

.hero__section {
  width: 75%;
  margin: auto;
  margin-top: 6rem;
  font-family: "Poppins", sans-serif;
}
.hero__section--text {
  line-height: 3.2rem;
  font-size: 32px;
}

.text-larger {
  font-size: 35px;
}

.text-medium {
  font-size: 22px;
}

.text-x-small {
  font-size: 12px;
}

.text-small {
  font-size: 14px;
}

.text-bold {
  font-weight: bold;
}

.text-primary {
  color: #016DB5;
}

.text-secondary {
  color: #7ABF4A;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.lh {
  line-height: 2.5rem;
}

.sm-lh {
  line-height: 1.5rem;
}

.mt-6 {
  margin-top: 5rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.link {
  bottom: 10px;
  right: 10px;
  font-size: 20px;
}

.router-link {
  color: #37474F;
}

.centered-box {
  margin: auto;
}

.top {
  top: 0;
}

.red-text {
  color: red;
}

.btn {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0.7rem;
  display: none;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  background: #7ABF4A;
  border: none;
  color: #FFFFFF;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #69a93c;
}

.rounded-btn {
  border-radius: 3rem;
}

.form {
  background-color: white;
  color: #37474F;
  border-radius: 0.8rem;
}

input {
  font-family: "Roboto", sans-serif;
}

input:focus {
  outline: 0;
}

.text-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid gray;
}

.placeholder {
  color: gray;
}

.card--img {
  max-width: 40%;
  height: 172px;
}

.card {
  box-shadow: 0 0.5rem 1rem #00000026;
}

.mini-card {
  background-color: #FBFBFB;
  border-radius: 0.7rem;
}

.middle-card {
  background-color: #FBFBFB;
  border-radius: 0.7rem;
}

.centered-box {
  padding: 100px 0px;
}

.table {
  background-color: #FBFBFB;
  border-radius: 0.7rem;
}

/*# sourceMappingURL=main.css.map */
